<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.hybrid.shine" version=".11">
	<name>shine</name>

	<description></description>

	<author href="http://fewmints.com" email="rishisg@gmail.com">Rishi Sunny</author>

	<content src="index.html" />

	<access origin="*" subdomains="true" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />

	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>

</widget>
